nav {
    /* width: 100vw; */
    /* border: 1px solid red; */
    /* justify-self: flex-start; */
    /* align-self: flex-start; */
    /* overflow-y: clip; */
}

#logo {
    /* display: flex;
    align-items: center;
    padding: 0 1em; */
    /* overflow: hidden; */
}

#logo img {
    /* width: 45px; */
    /* transform: rotate(45deg);
    margin: 0 .5em; */
}

#navLinks {}

#navLinks button {
    color: white;
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin: 0 1em;
}

#navLinks button:hover {
    /* background-color: black; */
}